---
name: home
url: /
animationIn: fadeIn
animationOut: fadeOut
---

	<div class="main grid-content shrink">
		
		<p>В большинстве отраслей промышленности используется черный металлопрокат. От его качества и оперативности поставки на предприятие зависят сроки строительства объектов и готовности продукции. ООО «Сибирский поставщик» предлагает черный металлопрокат заводского качества, по низким ценам и из наличия.</p>

		<h3>Направления деятельности компании:</h3>
		<ul>
			<li>прямые поставки с заводов-производителей;</li>
			<li>реализация металла по РФ из складских запасов в Новосибирске;</li>
			<li>резка и рубка металла в размер;</li>
			<li>собственное производство кладочной сетки;</li>
			<li>организация качественного сервиса и доставки.</li>
		</ul>

		<h3>Широкая номенклатура по низким ценам</h3>

		<p>Видение рыночной конъюнктуры и совершенствование бизнес-стратегий позволяет прогрессивно развиваться не только в сибирском регионе. ООО «Сибирский поставщик» организует поставки черного металлопроката в любой регион страны. Для максимального удовлетворения потребностей рынка, мы предлагаем широкую номенклатуру товаров, в т.ч.:</p>
		<ul>
			<li>арматуру;</li>
			<li>круг;</li>
			<li>балку;</li>
			<li>сетку кладочную;</li>
			<li>лист;</li>
			<li>уголок;</li>
			<li>трубу;</li>
			<li>швеллер.</li>
		</ul>
		<h3>Следуем интересам каждого клиента</h3>
		<p>Мы заинтересованы в развитии и поддержании отношений со всеми партнерами. Зачастую наша цена – это индивидуальное спецпредложение на привлекательных условиях. Регулярно проводимые скидки и акции позволят сократить бюджет покупки. При приобретении черного металлопроката, каждый клиент может рассчитывать на:</p>
		<ul>
			<li>высокое качество товара;</li>
			<li>быстрое оформление договора;</li>
			<li>отгрузку без простоя транспорта;</li>
			<li>индивидуальный подход;</li>
			<li>достойный уровень обслуживания.</li>
		</ul>

	</div>
