---
name: products
url: products
animationIn: fadeIn
animationOut: fadeOut
---

<!-- 	<div class="main grid-content shrink">
		
		<ul class="grid-block">
			<a><li class="grid-content" style="width:50px; height:50px;">One</li></a>
			<li class="grid-content" style="width:50px; height:50px;"><a>Two</a></li>
		</ul>

	</div> -->

<div class="grid-block large-up-4">
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-krug.png"></a></div>
		<div class="grid-content"><a>Круг</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-armatura.png"></a></div>
		<div class="grid-content"><a>Арматура</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-truba.png"></a></div>
		<div class="grid-content"><a>Труба</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-balka.png"></a></div>
		<div class="grid-content"><a>Балка</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-ugolok.png"></a></div>
		<div class="grid-content"><a>Уголок</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-shveller.png"></a></div>
		<div class="grid-content"><a>Швеллер</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-setka.png"></a></div>
		<div class="grid-content"><a>Сетка кладочная</a></div>
	</div>
	<div class="prod-menu grid-container text-center shrink">
		<div class="grid-content"><a><img src="/assets/img/pic-list.png"></a></div>
		<div class="grid-content"><a>Лист</a></div>
	</div>

</div>