---
name: service
url: service
animationIn: fadeIn
animationOut: fadeOut
---

	<div class="main grid-content">
		
		<h3>Основные направления нашей деятельности:</h3>
		<ul>
			<li>Поставки продукции напрямую с комбинатов-производителей</li>
			<li>Продажа металла со склада в Новосибирске во все регионы России</li>
			<li>Резка и рубка практически любого металла в размер</li>
			<li>Производство кладочной сетки</li>
			<li>Организация доставки и качественного обслуживания</li>
		</ul>

		<a>Расчет ж/д тарифа</a>
		<br>
		<a>Автодоставка</a>
		<br>
		<a>Прайс на резку</a>
	</div>
